# portfolio
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    min-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: rosybrown;
    align-items: center;
}

.title {
    margin-right: 3em;
    margin-left: 10em;
    color: white;
}

.menu-item {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    color: white;
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}

dt {
    font-size: 1em;
}

main {
    width: 1000px;
}

main section {
    margin-bottom: 3em;
}

main h2 {
    line-height: 50px;
    margin-bottom: 1ex;
    margin-top: 7ex;
    color: rosybrown;
    font-size: 3em;
    text-align: center;
    clear: both;
}

main h3 {
    padding-left: 2ex;
    margin-top: 1em;
    color: indianred;
    font-size: 2em;
}

main h4 {
    font-size: 1em;
    margin-left: 2em;
}

main h5 {
    font-size: 2em;
    margin-top: 1em;
    color: dimgray;
}

main h6 {
    font-size: 2em;
    color: dimgray;
    float: left;
    margin-bottom: 6em;
}

main h7 {
    font-size: 2em;
    color: dimgray;
    float: right;
    margin-bottom: 6em;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rosybrown;
    color: white;
    text-align: center;
}



#beauty {
    width: 1000px;
    margin-top: 3em;
}

#profile {
    width: 350px;
    margin-left: 21em;
    margin-top: 3em;
    margin-bottom: 1em;
}

#Twitter {
    width: 450px;
    margin-left: 1em;
    margin-top: 2em;
    transition-duration: 0.5s;
}

#Twitter:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#Osero {
    width: 450px;
    margin-left: 1em;
    margin-top: 2em;
    transition-duration: 0.5s;
}

#Osero:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#sns {
    width: 900px;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    transition-duration: 0.5s;
}

#sns:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}


#icon {
    width: 80px;
    margin-left: 1em;
}
